{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section id="min-height">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">项目管理</h3>
                    <div class="section-title-divider"></div>
                </div>
            </div>
            <div class="row min-height-2">
                <div class="table-responsive">
                    <table class="table text-nowrap" style="min-width:1000px;">
                        <tr>
                            <th class="info">项目类型</th>
                            <th class="info">项目名称</th>
                            <th class="info">标题</th>
                            <th class="info">人员</th>
                            <th class="info">耗费天数(Days)</th>
                            <th class="info">耗费时数(Hours)</th>
                            <th class="info">耗费刻数(Quarters)</th>
                            <th class="info">正文</th>
                            <th class="info">编辑时间</th>
                        </tr>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.project_type }}</td>
                                <td>{{ project.project_name }}</td>
                                <td>{{ project.subject }}</td>
                                <td>{{ project.project_user }}</td>
                                <td>{{ project.paid_day }}</td>
                                <td>{{ project.paid_hour }}</td>
                                <td>{{ project.paid_quarter }}</td>
                                <td><a href="/project/detail?pid={{ project.id }}">点我查看</a></td>
                                <td>{{ project.edit_time }}</td>
                            </tr>

                        {% endfor %}

                    </table>
                    <div class="pagination">
                        {% if projects.has_previous %}
                            <a href="?page={{ projects.previous_page_number }}">上一页</a>
                        {% endif %}
                        <span class="current">
                        第 {{ projects.number }} 页 / 共 {{ projects.paginator.num_pages }} 页
                    </span>
                        {% if projects.has_next %}
                            <a href="?page={{ projects.next_page_number }}">下一页</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
