{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section id="min-height">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Weekly Report</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">此功能用于查看历史任务。</p>
                </div>
            </div>

            <div class="row min-height-2 text-center">
                {% for user in users %}
                <div class="table-responsive">
                    <a href="/blog/users/{{ user.id }}/">{{ user }}</a>
                </div>
                 {% endfor %}
            </div>

        </div>
    </section>
{% endblock %}
