{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section id="contact1">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">周期任务</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">此功能用于周期任务。标<span style="color:red;"> * </span>为必须字段。</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-push-2">
                    <div class="form">
                        <form action="" method="post" role="form" class="contactForm">{% csrf_token %}
                            <div class="form-group">
                                <label for="">
                                    &nbsp;FTP&nbsp;<input type="radio" name="is_api" value="yes"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>
                                <label for="">
                                    SFTP&nbsp;<input type="radio" name="is_api" value="no" checked/>&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>
                                <label for="">
                                    Email&nbsp;<input type="radio" name="is_api" value="no" checked/>&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>
                                <div class="validation"></div>
                                <span class="pull-right">&nbsp;数据传输方式?</span>
                            </div>

                            <div class="form-group">
                                <input type="text" name="host" class="form-control" id="host" placeholder="Host"
                                       data-rule="minlen:2" data-msg="Please check your host"
                                />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="port" id="port" placeholder="Port"
                                       data-rule="required" data-msg="Please check your port"
                                />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="remote" id="remote"
                                       placeholder="Remote Path" data-rule="required"
                                       data-msg="Please check your data path"
                                />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="">
                                    Regular：
                                    <select class="form-control-static col-md-push-2" name="regular" id="regular"
                                            data-rule="required" style="min-width: 50px;">
                                        <option>每日</option>
                                        <option>每周</option>
                                        <option>每月</option>
                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;

                                    FileType：
                                    <select class="form-control-static col-md-push-2" name="file_type" id="file_type"
                                            data-rule="required" style="min-width: 50px;">
                                        <option>CSV</option>
                                        <option>Excel</option>
                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                    Delimiter：
                                    <select class="form-control-static col-md-push-2" name="delimiter" id="delimiter"
                                            data-rule="required" style="min-width: 50px;">
                                        <option>,</option>
                                        <option>;</option>
                                        <option>|</option>
                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="datetime-local" class="form-control" name="exec_time" id="exec_time"
                                       placeholder="Exec Time" data-rule="required" data-msg="Please check exec time"/>
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Error Email" data-rule="email" data-msg="Please enter a valid email"
                                />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="sql" rows="6" data-rule="required"
                                          data-msg="Please write something for us" placeholder="SQL"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Summit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-md-push-2">
                    <div>
                        <p style="color: gray;"><span style="color:red;">* </span>选择数据传输方式</p>
                    </div>
                    <div>
                        <p style="color: gray;"><span style="color:red;">* </span>Host: (S)FTP主机名</p>
                    </div>

                    <div>
                        <p style="color: gray;"><span style="color:red;">* </span>Port: (S)FTP端口号</p>
                    </div>
                    <div>
                        <p style="color: gray;"><span style="color:red;">* </span>Remote Path: (S)FTP数据存储路径</p>
                    </div>
                    <div>
                        <p style="color: gray;"><span style="color:red;">* </span>选择文件格式及分隔符
                        </p>
                    </div>
                    <div>
                        <p style="color: gray;"><span style="color:red;">* </span>执行时间</p>
                    </div>
                    <div>
                        <p style="color: gray;"><span style="color:red;">* </span>Your Email: 接收结果邮箱</p>
                    </div>
                    <div>
                        <p style="color: gray;"><span style="color:red;">* </span>Is Order Insert Api: 是否采用订单插入API？</p>
                    </div>
                    <div>
                        <a style="color: blue;" href="/wd/orderStatus"><span>&nbsp;&nbsp;&nbsp;</span>查询订单状态？</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
